<li class="list-group-item"
    [ngClass]="{'list-group-item': true, 'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0}">
    <h2>{{ post.title }} <span class="pull-right">{{ post.createdAt | date: 'short' }}</span></h2>
    <p>
        {{post.content}}
    </p>
    <p
        [ngClass]="{'label pull-right': true, 'label-default': post.loveIts === 0, 'label-success': post.loveIts > 0, 'label-danger': post.loveIts < 0}">
        {{post.loveIts}} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    </p>

    <button (click)="handleLoveIts()" style="margin-right: 10px;" class="btn btn-success">Love it</button>
    <button (click)="handleDontLoveIts()" style="margin-right: 10px;" class="btn btn-danger">Don't love it</button>
    <button (click)="onDeletePost(post)" class="btn btn-danger">Supprimer</button>
</li>